@*Layout = "_can set any layout for that particular view";*@
<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">
                    User List
                </h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Phone
                    </th>
                    <th>
                        Company
                    </th>
                    <th>
                        Role
                    </th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
    <a asp-controller="User" asp-action="Delete"  class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i>Edit</a>
</div>

@section Scripts{
    <script src="~/js/user.js"></script>
}