@model Category

<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="trxt-primary">Edit Category</h2>
            <hr />
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="Name"> </label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
            
        </div>
        <div class="mb-3">
            <label asp-for="DisplayOrder"> </label>
            <input asp-for="DisplayOrder" class="form-control" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>

        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        @*<button>Click</button>*@
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>

@* A section allows you to add something in a view which will be added in the layout. or to render a cartain,part *@
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
@*View can basically contains a complete markup which may contain a master view(or master page)
with all the design(s) etc.
whereas Partial view is only a portion of page or a small markup which don’t have master page.*@
